@model CategoryListModel
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Categories.Count() > 0)
{
    <div class="checkout">
        <div class="container">
            <div class="checkout-right">
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th style="width:150px">Image</th>
                            <th>Category Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Categories)
                        {
                            <tr class="rem1">
                                <td class="invert">@item.CategoryID</td>
                                <td class="invert-image"><a href="single.html"><img src="~/images/categories/@item.ImageUrl" width="80" /></a></td>
                                <td class="invert">@item.CategoryName</td>
                                <td class="invert">
                                    <a class="btn btn-primary btn-sm mr-2" href="/admin/editcategory/@item.CategoryID">Değiştir</a>
                                    <form action="/admin/deletecategory" method="post">
                                        <input type="hidden" name="categoryID" value="@item.CategoryID" />
                                        <button type="submit" class="btn btn-danger btn-sm">Kaldır</button>
                                    </form>
                                </td>
                            </tr>
                        }


                    </tbody>

                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning">
        <h4>Henüz kategoriniz yok!</h4>
    </div>
}