
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2 style="text-align:center">Bu siteye erişim mahkeme kararıyla engellenmiştir.</h2>
    <br />
    <br />
    <br />
    <p style="text-align:center">Fişlendin fedöcü.</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>