@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>

        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
        //Date dd/MM/yyyy
        $.validator.methods.date = function (value, element) {
            var date = value.split("/");
            return this.optional(element) || !/Invalid|NaN/.test(new Date(date[2], date[1], date[0]).toString());
        }
    </script>
}

<div class="login">
    <div class="container">
        <h2>Şifremi Sıfırla</h2>

        <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
            <form asp-controller="Account" asp-action="ResetPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" name="Token" value="@Model.Token" />
                <input asp-for="Email" value="@Model.Email" placeholder="Email">
                <input asp-for="Password" value="@Model.Password" placeholder="Parola">
                <input type="submit" value="Sıfırla">
            </form>
        </div>
    </div>
</div>
