@model CategoryListViewModel
    <!-- navigation -->
    <div class="navigation-agileits">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                @*<div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>*@
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav" style="display:-webkit-inline-box">
                        @*<li class="active"><a asp-controller="Home" asp-action="Index" class="act">Anasayfa</a></li>*@
                        <!-- Mega Menu -->

                        @foreach (var category in Model.Categories)
                        {
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">@category.CategoryName<b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        <div class="row">
                                            <div class="multi-gd-img">
                                                <ul class="multi-column-dropdown">
                                                    <h6>@category.CategoryName</h6>
                                                    @foreach (var categorySub in category.CategorySubs)
                                                    {
                                                        <li>
                                                            <ul>
                                                                <li>
                                                                    <a asp-controller="Store"
                                                                       asp-action="Products"
                                                                       asp-route-categorysub="@categorySub.CategorySubName.ToLower()">@categorySub.CategorySubName</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>

                                        </div>
                                    </li>
                                </ul>

                            </li>
                        }

                        @*<li><a href="gourmet.html">Gourmet</a></li>
                        <li><a href="offers.html">Offers</a></li>
                        <li><a href="contact.html">Contact</a></li>*@
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- //navigation -->